**/.idea
**/.gradle
**/build
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

*.class
*.jar

# IDEs and editors
/.idea
/.iml

# Locally stored "Eclipse launch configurations"
*.launch

# misc
.gitignore~

# e2e
/e2e/*.js
/e2e/*.map

# Windows System Files
.DS_Store